/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/dashboard/card/Card.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.Card_container__jF2OF {
  display: flex;
  align-items: center;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}

.Card_container__jF2OF:hover {
  background-color: #2e374a;
}

.Card_image__7kFuj {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.Card_texts__Rg02J {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Card_title__0DWbR {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.Card_number__6euEL {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.Card_detail__ts0_s {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.Card_positive__FtMWA {
  color: lime;
  text-align: center;
}

.Card_negative__AmW3c {
  color: red;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/dashboard/dashboard.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.dashboard_container__4N4_Y {
  display: flex;
}

.dashboard_menu___xElM {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  min-height: 100vh;
}

.dashboard_content__iC22M {
  flex: 4;
  padding: 20px;
}

.dashboard_wrapper__MU4ra {
  display: flex;
  flex-direction: row;
}

.dashboard_main__2ra51 {
  flex: 1;
  padding: 20px;
}

.dashboard_cards__WfAJ6 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.dashboard_side__Uwkks {
  width: 300px;
}

@media (max-width: 900px) {
  .dashboard_cards__WfAJ6 {
    grid-template-columns: 1fr; 
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/dashboard/rightbar/Rightbar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.Rightbar_container__unKel {
    position: fixed;
  }
  
  .Rightbar_item__O1E2y {
    background: linear-gradient(to top, #182237, #253352);
    padding: 20px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .Rightbar_bgContainer__vMPVs {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
  }
  
  .Rightbar_bg__9garC {
    object-fit: contain;
    opacity: 0.2;
  }
  
  .Rightbar_text__cyP3b {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .Rightbar_notification__12u7z {
    font-weight: bold;
  }
  
  .Rightbar_subtitle__tPGSR {
    color: var(--textSoft);
    font-weight: 500;
    font-size: 12px;
  }
  
  .Rightbar_desc__C4Cem {
    color: var(--textSoft);
    font-size: 14px;
  }
  
  .Rightbar_button__wzbUl {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    background-color: #5d57c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/dashboard/transactions/Transactions.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.Transactions_container__EzyIQ{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius:10px ;
  }
  
  .Transactions_title__9yuJy{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
  }
  
  .Transactions_table__P0ZaP{
    width: 100%;
  }
  
  .Transactions_table__P0ZaP td{
    padding: 10px;
  }
  
  .Transactions_user__CDazr{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .Transactions_userImage__0g2Ca{
    object-fit: cover;
    border-radius: 50%;
  }
  
  .Transactions_status__6om_9{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
  }
  
  .Transactions_pending__q2KVW{
    background-color: #5e7ce2;
  }
  
  .Transactions_done__p9WPm{
    background-color: #a5be00;
  }
  
  .Transactions_cancelled__qwu_D{
    background-color: #e3170a;
  }
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/dashboard/chart/Chart.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.Chart_container__VSLuO {
    height: 450px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
  }
  
  .Chart_title__zzqAJ{
    font-weight: 200;
    color: var(--textSoft);
    margin-bottom: 20px;
  }
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/ui/dashboard/loader/Loader.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.Loader_loaderContainer__Qxf93 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.Loader_loader__z1Lmu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Loader_loader__z1Lmu::before,
.Loader_loader__z1Lmu::after {
    position: absolute;
    content: "";
    height: 12em;
    width: 12em;
    border: 1.5em solid #e11d48;
    border-radius: 50%;
    animation: Loader_loader_79178__brlcB 2s linear infinite;
}

.Loader_loader__z1Lmu::after {
    opacity: 0;
    animation-delay: 1s;
}

@keyframes Loader_loader_79178__brlcB {
    0% {
        border: 1.5em solid #e11d48;
        transform: scale(0);
        opacity: 1;
    }

    100% {
        border: 0 solid #e11d48;
        transform: scale(1);
        opacity: 0;
    }
}
