.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader::before,
.loader::after {
    position: absolute;
    content: "";
    height: 12em;
    width: 12em;
    border: 1.5em solid #e11d48;
    border-radius: 50%;
    animation: loader_79178 2s linear infinite;
}

.loader::after {
    opacity: 0;
    animation-delay: 1s;
}

@keyframes loader_79178 {
    0% {
        border: 1.5em solid #e11d48;
        transform: scale(0);
        opacity: 1;
    }

    100% {
        border: 0 solid #e11d48;
        transform: scale(1);
        opacity: 0;
    }
}